# 재무제표 데이터 처리

In [1]:
import pandas as pd
import numpy as np
import os

## 재무제표 이름 재설정
    ex) [에스엠]사업보고서_재무제표(2015.03.31)_ko.xls => [에스엠]2015.xls

In [2]:
# 각 기업별 재무제표 데이터 경로 추출
data_dir_path='D:/이직준비공부/AI/project_1/data/재무제표'

for file in os.listdir(data_dir_path):
    year=file.split('.')[0].split('(')[-1]
    if file.startswith('[에스엠]'):
        os.rename(os.path.join(data_dir_path,file),os.path.join(data_dir_path,'[에스엠]'+year+'.xls'))
        
    elif file.startswith('[JYP Ent]'):
        os.rename(os.path.join(data_dir_path,file),os.path.join(data_dir_path,'[JYP Ent]'+year+'.xls'))
        
    else:
        os.rename(os.path.join(data_dir_path,file),os.path.join(data_dir_path,'[와이지엔터테인먼트]'+year+'.xls'))

## 재무제표 데이터 통합
    각 기업의 2013년도 부터 공시된 최근 재무제표 데이터 통합

In [3]:
# 각 기업별 재무제표 데이터 경로 추출
data_dir_path='D:/이직준비공부/AI/project_1/data/재무제표'
sm_list=[]
jyp_list=[]
yg_list=[]

for file in os.listdir(data_dir_path):

    if file.startswith('[에스엠]'):
        sm_list.append(os.path.join(data_dir_path,file))
        
    elif file.startswith('[JYP Ent]'):
        jyp_list.append(os.path.join(data_dir_path,file))
        
    else:
        yg_list.append(os.path.join(data_dir_path,file))

### YG Ent 재무제표 통합

In [4]:
for i,path in enumerate(yg_list):
    # 각 엑셀 별 데이터프레임 생성
    globals()["yg_df_{}".format(i)]=pd.read_excel(path,sheet_name='재무상태표',header=6)
    
    # 항목에 대해 공백제거 처리
    globals()["yg_df_{}".format(i)][' ']=globals()["yg_df_{}".format(i)][' '].str.strip()
    
    # 필요 항목 추출
    drop_list=[i for i in globals()["yg_df_{}".format(i)][' '].values if i not in ['매출채권','재고자산','투자부동산','무형자산','자본금','이익잉여금']]
    
    globals()["yg_df_{}".format(i)].set_index(' ',inplace=True)
    
    globals()["yg_df_{}".format(i)].drop(drop_list,axis=0,inplace=True)

In [5]:
# 데이터프레임 통합
yg_df=pd.concat([yg_df_0,yg_df_1,yg_df_2,yg_df_3,yg_df_4,yg_df_5,yg_df_6,yg_df_7,yg_df_8],axis=1).T

In [6]:
yg_df.reset_index(inplace=True)
yg_df

,index,매출채권,재고자산,무형자산,자본금,이익잉여금,투자부동산
0,제 17 기,9418783930,6024022171,6773512286,7685794000,65977225144,NaN
1,제 16 기,14529051482,6839745914,6999036614,5361198000,51387226894,NaN
2,제 15 기,15533635598,3248363241,7834412869,5320629000,40548720750,NaN
3,제 18 기,18607302601,10503143123,14515885504,7685794000,NaN,NaN
4,제 17 기,9418783930,6024022171,6773512286,7685794000,NaN,NaN
5,제 16 기,14529051482,6839745914,6999036614,5361198000,NaN,NaN
6,제 19 기,NaN,NaN,NaN,NaN,NaN,NaN
7,제 18 기,NaN,NaN,NaN,NaN,NaN,NaN
8,제 17 기,NaN,NaN,NaN,NaN,NaN,NaN
9,제 20 기,35908713224,10554756434,9771142854,9253046500,NaN,NaN
10,제 19 기,23044447144,9289244670,12000436906,8422481500,NaN,NaN
11,제 18 기,18607302601,10503143123,14515885504,7685794000,NaN,NaN
12,제 21 기,14953791089,9151873094,8323664509,9253046500,NaN,NaN
13,제 20 기,35908713224,10554756434,9771142854,9253046500,NaN,NaN
14,제 19 기,23044447144,9289244670,12000436906,8422481500,NaN,NaN
15,제 22 기,9394427833,2849351066,3685934834,9258996500,109927902405,NaN
16,제 21 기,14953791089,9151873094,8323664509,9253046500,126221816148,NaN
17,제 21 기초,35908713224,10554756434,9771142854,9253046500,113454327651,NaN
18,제 23 기,12877374487,5363297768,2638600805,9367476500,125575850340,NaN
19,제 22 기,9394427833,2849351066,3685934834,9258996500,109927902405,NaN
20,제 21 기,14953791089,9151873094,8323664509,9253046500,126221816148,NaN
21,제 24 기,20935022711,5210660822,3470453764,9382376500,149571894119,NaN
22,제 23 기,12877374487,5363297768,2638600805,9367476500,125575850340,NaN
23,제 22 기,9394427833,2849351066,3685934834,9258996500,109927902405,NaN
24,제 25 기,36749945784,9191588609,3117267988,9487676500,173651986791,8702773338
25,제 24 기,20935022711,5210660822,3470453764,9382376500,149571894119,0
26,제 23 기,12877374487,5363297768,2638600805,9367476500,125575850340,0

In [7]:
# 결측치가 많은 항목 제거
yg_df.drop(['이익잉여금','투자부동산'],axis=1,inplace=True)
yg_df

      index         매출채권         재고자산         무형자산         자본금
0    제 17 기   9418783930   6024022171   6773512286  7685794000
1    제 16 기  14529051482   6839745914   6999036614  5361198000
2    제 15 기  15533635598   3248363241   7834412869  5320629000
3    제 18 기  18607302601  10503143123  14515885504  7685794000
4    제 17 기   9418783930   6024022171   6773512286  7685794000
5    제 16 기  14529051482   6839745914   6999036614  5361198000
6    제 19 기          NaN          NaN          NaN         NaN
7    제 18 기          NaN          NaN          NaN         NaN
8    제 17 기          NaN          NaN          NaN         NaN
9    제 20 기  35908713224  10554756434   9771142854  9253046500
10   제 19 기  23044447144   9289244670  12000436906  8422481500
11   제 18 기  18607302601  10503143123  14515885504  7685794000
12   제 21 기  14953791089   9151873094   8323664509  9253046500
13   제 20 기  35908713224  10554756434   9771142854  9253046500
14   제 19 기  23044447144   9289244670  12000436906  8422481500
15   제 22 기   9394427833   2849351066   3685934834  9258996500
16   제 21 기  14953791089   9151873094   8323664509  9253046500
17  제 21 기초  35908713224  10554756434   9771142854  9253046500
18   제 23 기  12877374487   5363297768   2638600805  9367476500
19   제 22 기   9394427833   2849351066   3685934834  9258996500
20   제 21 기  14953791089   9151873094   8323664509  9253046500
21   제 24 기  20935022711   5210660822   3470453764  9382376500
22   제 23 기  12877374487   5363297768   2638600805  9367476500
23   제 22 기   9394427833   2849351066   3685934834  9258996500
24   제 25 기  36749945784   9191588609   3117267988  9487676500
25   제 24 기  20935022711   5210660822   3470453764  9382376500
26   제 23 기  12877374487   5363297768   2638600805  9367476500

In [8]:
# 의미없는 기수 제거
yg_df.drop([6,7,8,17],axis=0,inplace=True)
yg_df

     index         매출채권         재고자산         무형자산         자본금
0   제 17 기   9418783930   6024022171   6773512286  7685794000
1   제 16 기  14529051482   6839745914   6999036614  5361198000
2   제 15 기  15533635598   3248363241   7834412869  5320629000
3   제 18 기  18607302601  10503143123  14515885504  7685794000
4   제 17 기   9418783930   6024022171   6773512286  7685794000
5   제 16 기  14529051482   6839745914   6999036614  5361198000
9   제 20 기  35908713224  10554756434   9771142854  9253046500
10  제 19 기  23044447144   9289244670  12000436906  8422481500
11  제 18 기  18607302601  10503143123  14515885504  7685794000
12  제 21 기  14953791089   9151873094   8323664509  9253046500
13  제 20 기  35908713224  10554756434   9771142854  9253046500
14  제 19 기  23044447144   9289244670  12000436906  8422481500
15  제 22 기   9394427833   2849351066   3685934834  9258996500
16  제 21 기  14953791089   9151873094   8323664509  9253046500
18  제 23 기  12877374487   5363297768   2638600805  9367476500
19  제 22 기   9394427833   2849351066   3685934834  9258996500
20  제 21 기  14953791089   9151873094   8323664509  9253046500
21  제 24 기  20935022711   5210660822   3470453764  9382376500
22  제 23 기  12877374487   5363297768   2638600805  9367476500
23  제 22 기   9394427833   2849351066   3685934834  9258996500
24  제 25 기  36749945784   9191588609   3117267988  9487676500
25  제 24 기  20935022711   5210660822   3470453764  9382376500
26  제 23 기  12877374487   5363297768   2638600805  9367476500

In [9]:
# 중복되는 기수 제거
yg_df.drop_duplicates('index',inplace=True)
yg_df

     index         매출채권         재고자산         무형자산         자본금
0   제 17 기   9418783930   6024022171   6773512286  7685794000
1   제 16 기  14529051482   6839745914   6999036614  5361198000
2   제 15 기  15533635598   3248363241   7834412869  5320629000
3   제 18 기  18607302601  10503143123  14515885504  7685794000
9   제 20 기  35908713224  10554756434   9771142854  9253046500
10  제 19 기  23044447144   9289244670  12000436906  8422481500
12  제 21 기  14953791089   9151873094   8323664509  9253046500
15  제 22 기   9394427833   2849351066   3685934834  9258996500
18  제 23 기  12877374487   5363297768   2638600805  9367476500
21  제 24 기  20935022711   5210660822   3470453764  9382376500
24  제 25 기  36749945784   9191588609   3117267988  9487676500

In [10]:
# 테이터 프레임 
yg_df.columns=['','매출채권','재고자산','무형자산','자본금']
yg_df.set_index('',inplace=True)
yg_df=yg_df.T
yg_df

,제 17 기,제 16 기,제 15 기,제 18 기,제 20 기,제 19 기,제 21 기,제 22 기,제 23 기,제 24 기,제 25 기
매출채권,9418783930,14529051482,15533635598,18607302601,35908713224,23044447144,14953791089,9394427833,12877374487,20935022711,36749945784
재고자산,6024022171,6839745914,3248363241,10503143123,10554756434,9289244670,9151873094,2849351066,5363297768,5210660822,9191588609
무형자산,6773512286,6999036614,7834412869,14515885504,9771142854,12000436906,8323664509,3685934834,2638600805,3470453764,3117267988
자본금,7685794000,5361198000,5320629000,7685794000,9253046500,8422481500,9253046500,9258996500,9367476500,9382376500,9487676500

In [11]:
yg_df.to_csv('D:/이직준비공부/AI/project_1/data/재무제표_통합/YG_재무제표.csv')

### SM Ent 재무제표

In [48]:
for i,path in enumerate(sm_list):
    # 각 엑셀 별 데이터프레임 생성
    globals()["sm_df_{}".format(i)]=pd.read_excel(path,sheet_name='재무상태표',header=6)
    
    # 항목에 대해 공백제거 처리
    globals()["sm_df_{}".format(i)][' ']=globals()["sm_df_{}".format(i)][' '].str.strip()
    globals()["sm_df_{}".format(i)][' ']=globals()["sm_df_{}".format(i)][' '].apply(lambda x: x.split('(')[0])
    globals()["sm_df_{}".format(i)][' ']=globals()["sm_df_{}".format(i)][' '].apply(lambda x: x.split(' ')[0])
    # 필요 항목 추출
    drop_list=[i for i in globals()["sm_df_{}".format(i)][' '].values if i not in ['매출채권','재고자산','투자부동산','무형자산','자본금','이익잉여금']]
    
    globals()["sm_df_{}".format(i)].set_index(' ',inplace=True)
    
    globals()["sm_df_{}".format(i)].drop(drop_list,axis=0,inplace=True)

In [49]:
# 데이터프레임 통합
sm_df=pd.concat([sm_df_0,sm_df_1,sm_df_2,sm_df_3,sm_df_4,sm_df_5,sm_df_6,sm_df_7],axis=1).T
sm_df

,매출채권,재고자산,무형자산,자본금,이익잉여금,투자부동산
제 20 기,47056373233,4189388485,10760309793,10324132000,100969700462,NaN
제 19 기,53965311644,4154522050,9163836314,10324132000,99009493918,NaN
제 18 기,28356332513,3026396685,8836039968,10213382000,81871533064,NaN
제 21 기,48218703216,4790322111,NaN,10411146500,105166824136,24861369420
제 20 기,47056373233,4189388485,NaN,10324132000,100969700462,
제 19 기,53965311644,4154522050,NaN,10324132000,99009493918,
제 22 기,34867201940,4615566014,11580454693,10877831500,110263531616,26334230340
제 21 기,48218703216,4790322111,14632319083,10411146500,105166824136,24861369420
제 20 기,47056373233,4189388485,10760309793,10324132000,100969700462,
제 23 기,65387581105,3991997669,11613884187,10877831500,127651470092,27334279600
제 22 기,34867201940,4615566014,11580454693,10877831500,110263531616,26334230340
제 21 기,48218703216,4790322111,14632319083,10411146500,105166824136,24861369420
제 24 기,74475111543,4433124212,11761183840,11513575500,149766629180,27939828860
제 23 기,65387581105,3991997669,11613884187,10877831500,127651470092,27334279600
제 22 기,34867201940,4615566014,11580454693,10877831500,110263531616,26334230340
제 25 기,93729758200,6259887685,9868283789,11723500500,161580539080,30200778120
제 24 기,74475111543,4433124212,11761183840,11513575500,149766629180,27939828860
제 23 기,65387581105,3991997669,12455394039,10877831500,127651470092,11613884187
제 26 기,82197763578,2340539902,9874665706,11726250500,132281503269,33130877380
제 25 기,93729758200,6259887685,9868283789,11723500500,161580539080,30200778120
제 24 기,74475111543,4433124212,11761183840,11513575500,149766629180,27939828860
제 27 기,64017376309,3954703111,8660319655,11872950500,199708756020,17962510715
제 26 기,82197763578,2340539902,9874665706,11726250500,132281503269,33130877380
제 25 기,93729758200,6259887685,9868283789,11723500500,161580539080,30200778120

In [51]:
sm_df.reset_index(inplace=True)
sm_df

,index,매출채권,재고자산,무형자산,자본금,이익잉여금,투자부동산
0,제 20 기,47056373233,4189388485,10760309793,10324132000,100969700462,NaN
1,제 19 기,53965311644,4154522050,9163836314,10324132000,99009493918,NaN
2,제 18 기,28356332513,3026396685,8836039968,10213382000,81871533064,NaN
3,제 21 기,48218703216,4790322111,NaN,10411146500,105166824136,24861369420
4,제 20 기,47056373233,4189388485,NaN,10324132000,100969700462,
5,제 19 기,53965311644,4154522050,NaN,10324132000,99009493918,
6,제 22 기,34867201940,4615566014,11580454693,10877831500,110263531616,26334230340
7,제 21 기,48218703216,4790322111,14632319083,10411146500,105166824136,24861369420
8,제 20 기,47056373233,4189388485,10760309793,10324132000,100969700462,
9,제 23 기,65387581105,3991997669,11613884187,10877831500,127651470092,27334279600
10,제 22 기,34867201940,4615566014,11580454693,10877831500,110263531616,26334230340
11,제 21 기,48218703216,4790322111,14632319083,10411146500,105166824136,24861369420
12,제 24 기,74475111543,4433124212,11761183840,11513575500,149766629180,27939828860
13,제 23 기,65387581105,3991997669,11613884187,10877831500,127651470092,27334279600
14,제 22 기,34867201940,4615566014,11580454693,10877831500,110263531616,26334230340
15,제 25 기,93729758200,6259887685,9868283789,11723500500,161580539080,30200778120
16,제 24 기,74475111543,4433124212,11761183840,11513575500,149766629180,27939828860
17,제 23 기,65387581105,3991997669,12455394039,10877831500,127651470092,11613884187
18,제 26 기,82197763578,2340539902,9874665706,11726250500,132281503269,33130877380
19,제 25 기,93729758200,6259887685,9868283789,11723500500,161580539080,30200778120
20,제 24 기,74475111543,4433124212,11761183840,11513575500,149766629180,27939828860
21,제 27 기,64017376309,3954703111,8660319655,11872950500,199708756020,17962510715
22,제 26 기,82197763578,2340539902,9874665706,11726250500,132281503269,33130877380
23,제 25 기,93729758200,6259887685,9868283789,11723500500,161580539080,30200778120

In [52]:
# 의미없는 기수 제거
sm_df.drop([3,4,5],axis=0,inplace=True)
sm_df

,index,매출채권,재고자산,무형자산,자본금,이익잉여금,투자부동산
0,제 20 기,47056373233,4189388485,10760309793,10324132000,100969700462,NaN
1,제 19 기,53965311644,4154522050,9163836314,10324132000,99009493918,NaN
2,제 18 기,28356332513,3026396685,8836039968,10213382000,81871533064,NaN
6,제 22 기,34867201940,4615566014,11580454693,10877831500,110263531616,26334230340
7,제 21 기,48218703216,4790322111,14632319083,10411146500,105166824136,24861369420
8,제 20 기,47056373233,4189388485,10760309793,10324132000,100969700462,
9,제 23 기,65387581105,3991997669,11613884187,10877831500,127651470092,27334279600
10,제 22 기,34867201940,4615566014,11580454693,10877831500,110263531616,26334230340
11,제 21 기,48218703216,4790322111,14632319083,10411146500,105166824136,24861369420
12,제 24 기,74475111543,4433124212,11761183840,11513575500,149766629180,27939828860
13,제 23 기,65387581105,3991997669,11613884187,10877831500,127651470092,27334279600
14,제 22 기,34867201940,4615566014,11580454693,10877831500,110263531616,26334230340
15,제 25 기,93729758200,6259887685,9868283789,11723500500,161580539080,30200778120
16,제 24 기,74475111543,4433124212,11761183840,11513575500,149766629180,27939828860
17,제 23 기,65387581105,3991997669,12455394039,10877831500,127651470092,11613884187
18,제 26 기,82197763578,2340539902,9874665706,11726250500,132281503269,33130877380
19,제 25 기,93729758200,6259887685,9868283789,11723500500,161580539080,30200778120
20,제 24 기,74475111543,4433124212,11761183840,11513575500,149766629180,27939828860
21,제 27 기,64017376309,3954703111,8660319655,11872950500,199708756020,17962510715
22,제 26 기,82197763578,2340539902,9874665706,11726250500,132281503269,33130877380
23,제 25 기,93729758200,6259887685,9868283789,11723500500,161580539080,30200778120

In [53]:
# 중복되는 기수 제거
sm_df.drop_duplicates('index',inplace=True)
sm_df

,index,매출채권,재고자산,무형자산,자본금,이익잉여금,투자부동산
0,제 20 기,47056373233,4189388485,10760309793,10324132000,100969700462,NaN
1,제 19 기,53965311644,4154522050,9163836314,10324132000,99009493918,NaN
2,제 18 기,28356332513,3026396685,8836039968,10213382000,81871533064,NaN
6,제 22 기,34867201940,4615566014,11580454693,10877831500,110263531616,26334230340
7,제 21 기,48218703216,4790322111,14632319083,10411146500,105166824136,24861369420
9,제 23 기,65387581105,3991997669,11613884187,10877831500,127651470092,27334279600
12,제 24 기,74475111543,4433124212,11761183840,11513575500,149766629180,27939828860
15,제 25 기,93729758200,6259887685,9868283789,11723500500,161580539080,30200778120
18,제 26 기,82197763578,2340539902,9874665706,11726250500,132281503269,33130877380
21,제 27 기,64017376309,3954703111,8660319655,11872950500,199708756020,17962510715

In [54]:
# 테이터 프레임 
sm_df.columns=['','매출채권','재고자산','무형자산','자본금','이익잉여금','투자부동산']
sm_df.set_index('',inplace=True)
sm_df=sm_df.T
sm_df

,제 20 기,제 19 기,제 18 기,제 22 기,제 21 기,제 23 기,제 24 기,제 25 기,제 26 기,제 27 기
매출채권,47056373233,53965311644,28356332513,34867201940,48218703216,65387581105,74475111543,93729758200,82197763578,64017376309
재고자산,4189388485,4154522050,3026396685,4615566014,4790322111,3991997669,4433124212,6259887685,2340539902,3954703111
무형자산,10760309793,9163836314,8836039968,11580454693,14632319083,11613884187,11761183840,9868283789,9874665706,8660319655
자본금,10324132000,10324132000,10213382000,10877831500,10411146500,10877831500,11513575500,11723500500,11726250500,11872950500
이익잉여금,100969700462,99009493918,81871533064,110263531616,105166824136,127651470092,149766629180,161580539080,132281503269,199708756020
투자부동산,NaN,NaN,NaN,26334230340,24861369420,27334279600,27939828860,30200778120,33130877380,17962510715

In [55]:
sm_df.to_csv('D:/이직준비공부/AI/project_1/data/재무제표_통합/SM_재무제표.csv')